
.ChatRoom {
  overflow-y: scroll;
  height: 99vh;
  width: 100%;
  background-color: #2c2c2c;
}
.chatText {
  color: white !important;
}
.chatDate {
  color: rgb(172, 172, 172) !important;
}

.chatForm {
  width: 100%;
  display: flex;
}
.chatInput {
  flex-grow: 1;
  margin-bottom: 0;
}
.chatInput>input {
  background-color: #2c2c2c !important;
  color: white !important;
  border-color: rgb(122, 122, 122) !important;
}

.UsersListImage {
  border-radius: 50%;
  width: 30px;
  height: auto;
}

.rails {
  height: 100% !important;
  width: 30% !important;
}
.innerRail {
  height: 100%;
  background-color: #2c2c2c !important;
}

.gridColumn {
  height: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2c2c2c !important;
}